<!DOCTYPE html>
<html>
<title>My Webpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1800px">

<div class="w3-row">
  <div class="w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>CCT</h1>
    </div>
    <div class="w3-padding-64">
      <a href="/unitwork" class="w3-button w3-black w3-block w3-hover-white w3-padding-16">Unit Work</a>
      <a href="/projects" class="w3-button w3-black w3-block w3-hover-white w3-padding-16">Projects</a>
      <a href="/actuallyaboutme" class="w3-button w3-black w3-block w3-hover-white w3-padding-16">About Me</a>
    </div>
  </div>
</div>

<footer class="w3-container w3-black w3-padding-16">
  <p>Powered by me</p>
</footer>

</body>
</html>

