<!DOCTYPE html>
<html lang="en">
  <h1 style="text-align:center">
    This is about me as a human being 
  </h1>
  <body style="background: rgb(1,142,183);
background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);">
  <p>
  <a href="https://www.instagram.com/lilmortgram">
  <img border="0" alt="Instagram" src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" width="100" height="100">
  <br><p>@lilmortgram</p>
  </a>
  </p>
  <p>
  <img border="0" alt="Snapchat" src="https://i.pinimg.com/originals/65/a4/24/65a4240ae9174aa1e5f3af541faba57b.jpg" width="100" height="100">
  <p style="text-decoration: underline;">@mortymr901</p>
  </p>


    
  </body>
  
  
  
  </html>