<h1 style="text-align:center">
  Projects
</h1>
<body style="background: rgb(1,142,183);
background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);">
<p style="text-align:center">
  The work I did in this quad can be seen here:
  
Mario was one of the first projects I made in the IDE, and it required a lot of algorithms that
I learned using the Labs.
  </p>
<script 
        src="https://gist.github.com/xXEthanMortimerXx/777672035eae22316585f3c8b55a04f4.js">
</script>

<p style="text-align:center">
  Caesar is a very popular script in C because it involves ASCII values and adding them to 
  your common algorithms, my script took me a few days to do and definetly could be done better, but
  it works so.
  </p>
<script 
src="https://gist.github.com/xXEthanMortimerXx/e42af70b7e8375ff247279818e251b05.js">
  </script>  
<p style="text-align:center">
This python script was my first python project, and it was recreating mario from before in C, to python. 
  </p>
<script 
        src="https://gist.github.com/xXEthanMortimerXx/dd2a60921805a9ff4349021199035682.js">
  </script>

</body>