
<h1 style="text-align:center"> 
  Unit Work
</h1>
<body style="background: rgb(2,0,36);
background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);">
<p style="text-align:center">
  Some projects I did with the CS50 IDE can be seen here.
</p>
<p>
  This first gist here is the first thing I did at the beginning of the course, the lab introduces the syntax, by making us say "hello world."
  The labs were a good way to introduce somebody to a new language which C was for me.
</p>
<script 
src="https://gist.github.com/xXEthanMortimerXx/e249df32f3fc21ffeea0c62bc1d6b320.js">
</script>
<p>
  This next lab here was about a very common loop in C which is a for loop, you will almost 
  always find for loops in C code as they are efficent and precise in sorting and printing 
  information.
</p>  
<script 
  src="https://gist.github.com/xXEthanMortimerXx/f38727b82b9b98f62b255899528d6b40.js">
</script>
<p>
  This gist is about another common algorithm in C which is a binary search. Binary searches
  sort through an array of sorted numbers by finding the middle of the array, and if the number
  is smaller than the middle number, it will go to the middle of the first half of the array, 
  and that will continue until the number was found. This was a challenge to code since I had to
  get all the algorithms right and made sure they did the right thing. 
</p>
<script 
  src="https://gist.github.com/xXEthanMortimerXx/29df85285ea2c842c0a030392be78c51.js">
</script>
<div id="grad1"></div>
</body>